# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

tags
*.gch
*.obj
*.exe
makefile

# Build artifacts are put here by bjam
/bin.v2/
/bin/
/libs/trie/test/bin.v2/
/libs/trie/test/bin/

